{% extends "layout.html" %}

{% block content %}
<div class="aboutBody">
    <section class="container-fluid">
        <br><br>
        <div class="container">
            <table class="table table-striped table-light">
                <thead>
                    <tr class="table-warning text-danger">
                      <th colspan="3">Project Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Module</th>
                        <td colspan="3">Final Year Research Project</td>
                    </tr>
                    <tr>
                        <th scope="row">Year</th>
                        <td colspan="3">2023</td>
                    </tr>
                    <tr>
                        <th scope="row">Group Id</th>
                        <td colspan="3" class="text-primary"><b>2023-137</b></td>
                    </tr>
                    <tr>
                        <th scope="row">Project Heading</th>
                        <td colspan="3" class="text-primary"><b>Movie Recommendation System Based on Tanglish 
                            Data of Trailers and Teasers</b></td>
                    </tr>
                </tbody>
                <thead>
                    <tr class="table-warning text-danger">
                      <th scope="col">Members</th>
                      <th scope="col">Name</th>
                      <th scope="col">E-mail</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>
                        <th scope="row">Supervisor</th>
                        <td>Ms. Thamali dassanayake</td>
                        <td>thamali.d@sliit.lk</td>
                    </tr>
                </tbody>
                <thead>
                    <tr class="table-warning text-danger">
                      <th scope="col">Members</th>
                      <th scope="col">Name</th>
                      <th scope="col">Registration Number</th>
                    </tr>
                </thead>
                    <tr>
                        <th scope="row">Member-01 (Leader)</th>
                        <td>YOKEESAN.C</td>
                        <td>IT20136406</td>
                    </tr>
                    <tr>
                        <th scope="row">Member-02</th>
                        <td>SANCHJEEVAN.R</td>
                        <td>IT19183428</td>
                    </tr>
                    <tr>
                        <th scope="row">Member-03</th>
                        <td>ABILASH.T</td>
                        <td>IT20008000</td>
                    </tr>
                    <tr>
                        <th scope="row">Member-04</th>
                        <td>KABILAN.V</td>
                        <td>IT20276300</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock %}